@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ## Colors */
  /* ### Primary */

  --Light-red2: hsla(0, 66%, 86%, 0.849);
  --Orangey-yellow2: hsl(39, 59%, 87%);
  --Green-teal2: hsl(166, 69%, 87%);
  --Cobalt-blue2: hsl(235, 77%, 86%);

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* ## Gradients */

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender2: rgba(200, 199, 255, 0.5);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

html {
  font-size: 18px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  display: flex;
}

.blue-col {
  background-image: linear-gradient(
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Light-lavender);
  border-radius: 1.4rem;
  z-index: 999;
}

.blue-col p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
}

.circle {
  width: 140px;
  height: 140px;
  background-image: linear-gradient(
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.4rem 0;
}

.circle p {
  font-size: 3rem;
  color: var(--White);
}

.circle span {
  font-size: 0.7rem;
  font-weight: 600;
}

.blue-col h3 {
  color: var(--White);
  padding-bottom: 0.8rem;
}

.white-col {
  background-color: var(--White);
  box-shadow: 2px 4px 5px var(--Light-lavender2);
  padding: 2rem 3rem;
  border-radius: 1.4rem;
  margin-left: -1.5rem;
  width: 300px;
}

.white-col p.title {
  color: var(--Dark-gray-blue);
  font-weight: 700;
}

.box {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 220px;
  margin-bottom: 2rem;
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.reaction div,
.memory div,
.verbal div,
.visual div {
  display: flex;
  gap: 7px;
  font-weight: 500;
}

.reaction {
  background-color: var(--Light-red2);
}

.image {
  color: var(--Light-red);
}

.number p {
  color: var(--Dark-gray-blue);
}

.number span {
  color: rgba(128, 128, 128, 0.718);
  font-weight: 500;
}

.memory {
  background-color: var(--Orangey-yellow2);
}

.image2 {
  color: var(--Orangey-yellow);
}

.verbal {
  background-color: var(--Green-teal2);
}

.image3 {
  color: var(--Green-teal);
}

.visual {
  background-color: var(--Cobalt-blue2);
}

.image4 {
  color: var(--Cobalt-blue);
}

.btn {
  border: none;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  padding: 0.7rem 4.7rem;
  border-radius: 50px;
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
  }

  .white-col {
    margin-left: 0;
  }
}
